body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 50px;
}
.new{
    color: coral;
}
section{
    display:flex;
}
.soto{
    font-size: 20px;

}
.second{
    font-size: 20px;
}
h3{
    margin: 5px;
}